.d-log-in {
  	margin-left: auto;
	margin-right: auto;
	width: 330px;
	padding: 74px;
	background: #FFF;
	border-bottom: 3px;
	border-bottom-style: solid;
	border-color: #DDD;
	margin-top: 80px;
}

.d-form-control {
	border-radius:0px;
	margin-top:15px;
}

.d-log-in-button {
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: #E74C3C;
	border: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #EEE;
}

.d-register-link {
	
}

.d-register-div {
	text-align: center;
	padding-top: 3px;
}

.d-error {
	border-left: 3px solid #E74C3C;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	word-wrap: break-word;
	margin-bottom: 20px;
	background: #FDF0F0;
}

.d-card-add {
	min-height: 100px;
	width: 100%;
}

.d-card-container {
	max-width:400px;
	margin-left: auto;
	margin-right: auto;
}

.d-hidden {
	display: none !important;
}

.d-add-card-head {
	font-weight: 100;
}

.d-flip {
	margin-top: 14px;
}

.d-add-card-but {
	margin-top: 25px;
	background: none;
	border: none;
	border-top: 1px solid #FFF;
	width: 100%;
	padding-top: 12px;
}

.d-head-button {
	border:1px solid #CCC;
	border-radius: 0px;
	
}